@import '../vendor/material-ui/scss/material-dashboard';

/***************** general *******************/
.logo-normal
{
	height: 50px;
}

body
{
	
}

.login-page
{
	background-image: url('./src/assets/images/register.jpg');
	background-repeat: no-repeat; 
	background-size: 100%;  
}

/***************** cards *******************/
.card-signup
{

}

.card-text
{
	background-color: #333333 !important;
}
/***************** forms *******************/
.form-group
{

	padding-top: 15px;
}

label
{
	color: #555555 !important;
}

.btn-dark
{
	background-color: #333333 !important;
}

.error
{
	color: #FF0000 !important;
}

/**************** utility ******************/
.hide
{
	display: none;
}

.large-icon
{
	font-size: 64px;  
}

.btn-dashboard
{
	height: 50px;
	padding-top: 10px;
	font-size: 18px;
}